*.class
ql-java.jar
qls-java.jar
QLS.generated.pp
QL.generated.pp
*.aterm
.dependencies.webdsl

org.spoofax.lang.lwc.ql/.servletapp
org.spoofax.lang.lwc.ql/test/*.app
org.spoofax.lang.lwc.ql/syntax/QLS.generated.str
org.spoofax.lang.lwc.ql/syntax/QLSgenerated.sdf
org.spoofax.lang.lwc.qls/bin/.settings
org.spoofax.lang.lwc.qls/bin/editor/*.generated.esv

QLExample/.saved-but-not-built
QLExample/.classpath
QLExample/.settings
QLExample/.cache
QLExample/.servletapp
QLExample/.webdsl-fragment-cache
QLExample/.webdsl-parsecache
QLExample/WebContent
QLExample/.saved-but-not-built

org.spoofax.lang.lwc.ql2/syntax/lexical/Common.sdf
org.spoofax.lang.lwc.ql2/syntax/ql/Expressions.sdf
org.spoofax.lang.lwc.ql2/syntax/ql/QL-Top.sdf
org.spoofax.lang.lwc.ql2/syntax/ql/Types.sdf
org.spoofax.lang.lwc.ql2/syntax/qls/QLS-Top.sdf
org.spoofax.lang.lwc.ql2/syntax/qls/Styles.sdf
org.spoofax.lang.lwc.ql2/trans/ql/names.str
org.spoofax.lang.lwc.ql2/trans/qls/names.str
org.spoofax.lang.lwc.ql2/trans/ql/*.generated.str
org.spoofax.lang.lwc.ql2/trans/qls/*.generated.str
