*.class
*.aterm

org.spoofax.lang.lwc.ql.empty/syntax/lexical/Common.sdf
org.spoofax.lang.lwc.ql.empty/syntax/ql/Expressions.sdf
org.spoofax.lang.lwc.ql.empty/syntax/ql/QL-Top.sdf
org.spoofax.lang.lwc.ql.empty/syntax/ql/Types.sdf
org.spoofax.lang.lwc.ql.empty/syntax/qls/QLS-Top.sdf
org.spoofax.lang.lwc.ql.empty/syntax/qls/Styles.sdf
org.spoofax.lang.lwc.ql.empty/trans/ql/names.str
org.spoofax.lang.lwc.ql.empty/trans/qls/names.str
org.spoofax.lang.lwc.ql.empty/trans/ql/*.generated.str
org.spoofax.lang.lwc.ql.empty/trans/qls/*.generated.str

org.spoofax.lang.lwc.ql.syntax/syntax/lexical/Common.sdf
org.spoofax.lang.lwc.ql.syntax/syntax/ql/Expressions.sdf
org.spoofax.lang.lwc.ql.syntax/syntax/ql/QL-Top.sdf
org.spoofax.lang.lwc.ql.syntax/syntax/ql/Types.sdf
org.spoofax.lang.lwc.ql.syntax/syntax/qls/QLS-Top.sdf
org.spoofax.lang.lwc.ql.syntax/syntax/qls/Styles.sdf
org.spoofax.lang.lwc.ql.syntax/trans/ql/names.str
org.spoofax.lang.lwc.ql.syntax/trans/qls/names.str
org.spoofax.lang.lwc.ql.syntax/trans/ql/*.generated.str
org.spoofax.lang.lwc.ql.syntax/trans/qls/*.generated.str

org.spoofax.lang.lwc.ql.analysis/syntax/lexical/Common.sdf
org.spoofax.lang.lwc.ql.analysis/syntax/ql/Expressions.sdf
org.spoofax.lang.lwc.ql.analysis/syntax/ql/QL-Top.sdf
org.spoofax.lang.lwc.ql.analysis/syntax/ql/Types.sdf
org.spoofax.lang.lwc.ql.analysis/syntax/qls/QLS-Top.sdf
org.spoofax.lang.lwc.ql.analysis/syntax/qls/Styles.sdf
org.spoofax.lang.lwc.ql.analysis/trans/ql/names.str
org.spoofax.lang.lwc.ql.analysis/trans/qls/names.str
org.spoofax.lang.lwc.ql.analysis/trans/ql/*.generated.str
org.spoofax.lang.lwc.ql.analysis/trans/qls/*.generated.str

org.spoofax.lang.lwc.ql2/syntax/lexical/Common.sdf
org.spoofax.lang.lwc.ql2/syntax/ql/Expressions.sdf
org.spoofax.lang.lwc.ql2/syntax/ql/QL-Top.sdf
org.spoofax.lang.lwc.ql2/syntax/ql/Types.sdf
org.spoofax.lang.lwc.ql2/syntax/qls/QLS-Top.sdf
org.spoofax.lang.lwc.ql2/syntax/qls/Styles.sdf
org.spoofax.lang.lwc.ql2/trans/ql/names.str
org.spoofax.lang.lwc.ql2/trans/qls/names.str
org.spoofax.lang.lwc.ql2/trans/ql/*.generated.str
org.spoofax.lang.lwc.ql2/trans/qls/*.generated.str

ql-js-example/.cache
