bin
.cache
.settings/org.eclipse.jdt.core.prefs
/include
include/QL.def
include/QL-parenthesize.str
include/QL-Permissive.def
include/QL.generated.pp.af
include/QL.packed.esv
include/QL.pp.af
include/QL.rtg
include/QL.str
include/QL.tbl
include/ql.rtree
include/ql.ctree
include/ql.ctree.dep
include/ql.jar
include/ql-java.jar
editor/java/trans
syntax/QL*.generated.esv
syntax/QL.generated.pp
syntax/*.sdf
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
**.generated.*
trans/ql/analysis/names.str
utils

lib/analysis
lib/editor
lib/index
lib/nabl
lib/properties
lib/relations
lib/task
lib/task
lib/tmpl
lib/types
