<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="ql"
            description="QL"
            language="QL"
            derivedFrom="DynamicRoot"
            validator="org.spoofax.lang.lwc.ql.full.QLValidator"
            validatorClass="org.spoofax.lang.lwc.ql.full.QLValidator"
      ></language>
   </extension>
   <extension
         id="org.spoofax.lang.lwc.ql.full.parser"
         name="QL Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.spoofax.lang.lwc.ql.full.QLParseController"
            language="QL">
      </parser>
   </extension>    
</plugin>
