bin,
.cache
include/QL.def
include/QL-parenthesize.str
include/QL-Permissive.def
include/QL.generated.pp.af
include/QL.packed.esv
include/QL.pp.af
include/QL.rtg
include/QL.str
include/QL.tbl
include/ql.rtree
include/ql.ctree
include/ql.ctree.dep
include/ql.jar
editor/java/trans
editor/QL-*.generated.esv
syntax/QL*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str
