lexical syntax

  "#" [0-9A-F][0-9A-F][0-9A-F][0-9A-F][0-9A-F][0-9A-F] -> COLOR

templates // top-level
  
  QLS.QLS = <<Page*; separator="\n\n">>
  
  FormRef.FormRef = <<ID>>
  
	Page.Page = <
		page <STRING> for <FormRef+; separator=" "> {
			<PagePart*; separator="\n">
		}
	>

templates // questions
	
	Ref.QuestionRef = <<ID> <Styles?>>

  PagePart = <<Ref>>
	
templates // styling

  Styles.Styles = < { 
  		<Style+; separator=" ">
		}
	>
	
  Style.Font   = <font = <STRING>>
  Style.Color  = <color = <COLOR>>
  Style.Widget = <widget = <Widget>>
  
  Widget.CheckBox = <checkbox>
  Widget.CheckBox = <radio>
  Widget.CheckBox = <dropdown>
  Widget.CheckBox = <text>
  Widget.CheckBox = <slider>
	
templates // section

  PagePart.Section = <
  	section <STRING> {
  		<SubPagePart*; separator="\n">
  	}
  >
  
  SubPagePart = <<Ref>>
  
  SubPagePart.SubSection = <
  	subsection <STRING> {
  		<SubSubPagePart*; separator="\n">
  	}
  >
  
  SubSubPagePart = <<Ref>>