bin,
.cache
include/QLS.def
include/QLS-parenthesize.str
include/QLS-Permissive.def
include/QLS.generated.pp.af
include/QLS.packed.esv
include/QLS.pp.af
include/QLS.rtg
include/QLS.str
include/QLS.tbl
include/qls.rtree
include/qls.ctree
include/qls.ctree.dep
include/qls.jar
editor/java/trans
editor/QLS-*.generated.esv
syntax/QLS*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str
